<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="js/jqueryUI/jquery-ui.min.css">
    <link rel="stylesheet" href="js/jqueryUI/jquery-ui-timepicker-addon.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/handsontable/dist/handsontable.full.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" charset="utf-8"></script>
    <script src="bower_components/ngHandsontable/dist/ngHandsontable.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js" charset="utf-8"></script>
    <script src="js/jqueryUI/jquery-ui.min.js" charset="utf-8"></script>
    <script src="js/jqueryUI/jquery-ui-sliderAccess.js" charset="utf-8"></script>
    <script src="js/jqueryUI/jquery-ui-timepicker-addon.js" charset="utf-8"></script>
    <script src="js/dateTime.js" charset="utf-8"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
    <script src="scripts/controllers/homeController.js" charset="utf-8"></script>
    <script src="scripts/directives/adminMenuDirective.js" charset="utf-8"></script>
  </head>
  <body ng-app="waterSportApp">
      {{{body}}}
  </body>
</html>
